
/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body{
    margin: 0;
    text-align: center;
    font-family: "Spinnaker", sans-serif;
    font-weight: 400;
}
.hero{
    background-image: url(images/Hero-img.jpg);
    height: 343px;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.5s;
}

.hero:hover{
    background-image: url("images/hero-img2.jpeg");
}

.hero h1{
   background-color: #b11313;
    color: #ffffff;
    padding: 5px 12px;
    border-radius: 10px;
    margin-bottom: 16px;
}

.hero h2{
    background-color: #69151c;
    color: #ffffff;
    padding: 5px 12px;
    border-radius: 10px;
    margin: 0;
    width: 47%;
    font-size: 19px;
}

.activity-section{
    background-color: #F1FAEE;
    padding: 40px 0px;
    color: #520707;
    /* height: 378px; */
}

.activity-section h3{
    font-size: 24px;
    margin: 0px;
}

.attractive-place-img{
     width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all 0.4s;
    cursor: pointer;
}

.attractive-place-img:hover{
    transform: scale(1.2);
}

.Top-three-activities{
    display: flex;
    justify-content: space-evenly;
    margin-top: 54px;
    flex-wrap: wrap;
}

.Places-to-visit{
    /* width: 26%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
    box-sizing: border-box;
    flex-basis: 330px;
}

.Places-to-visit p{
    /* width: 250px; */
    padding: 0px 12px;
    margin: 0px;
}

.guid-section{
    height: 394px;
    padding: 50px 0px;
    box-sizing: border-box
}

#guide-card{
    background-color: #c8dca8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    max-width: 400px;
    height: 294px;
    padding: 13px;
    color: #334511;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px -1px 2px 1px #5f6f28;
}
.guide-card-heading{
    font-size: 24px;
    margin: 0;
}

#avatar-img{
     width: 180px;
    height: 248px;
    transform: rotateY(180deg);
    border-radius: 10px;
    filter: invert(1);

}

@media screen and (min-width: 515px) and (max-width: 990px){
    .Places-to-visit{
        flex-basis: 260px;
    }
}